@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Roboto:wght@300&display=swap');


*
{

    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Roboto', sans-serif;

    /*  colors */

    color: #545c5f;
    color: #5b775e ;
    color: #193e46 ;
    color: #b7c7d6 ;
  
}